@import "RESET.scss";
@import "Media.scss";
@import "modal";

.header {
  background: #5f5f5f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 0;

  &__text {
    text-align: center;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: #ffffff;
  }
}

/*********************************************/

.contacts__add {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
}

.btn {
  padding: 10px 15px;
  width: 100%;
  background: #055bcc;
  color: #ffffff;
  border-radius: 5px;
  transition: 0.3s;
  font-weight: 700;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

  &:hover {
    background: #0f77ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  &:active {
    opacity: 80%;
  }
}

/***************************************************/

.contacts {
  li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 4px;
    margin: 20px 0;
    padding: 15px;
    background: #4e9afd;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

    .con-item {
      display: flex;
      justify-content: space-between;

      .user {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &--name,
        &--surname,
        &--phone {
          margin-right: 15px;
          color: #faf8f8;
          font-weight: 600;
          font-size: 17px;
          font-family: "Poppins", sans-serif;

          span {
            font-weight: normal;
            color: #000000;
          }
        }
      }

      .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        width: 40px;
        height: 40px;
        min-width: 40px;
        border-radius: 50%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        margin-right: 15px;
        background: #ffffff;
        font-size: 16px;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between !important;
      align-items: center;
      padding: 10px 0;

      &__update,
      &__delete {
        padding: 8px 20px;
        border-radius: 5px;
        color: #faf8f8;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: 0.3s;
        font-size: 14px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;

        &:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        &:active {
          opacity: 80%;
        }
      }

      &__update {
        background: #0fcc05;
        margin: 0 10px;

        &:hover {
          background: #17c40e;
        }
      }

      &__delete {
        background: #ff0000;

        &:hover {
          background: #cc0c0c;
        }
      }
    }
  }
}

/**************************************************/

.input-text {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  transition: 0.2s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

/*************************************************/
.plus {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #1de42e;
  color: #ffffff;
  font-weight: 900;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}
