@media (max-width: 1300px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .input {
    padding: 0 5px;
  }
}

@media (max-width: 720px) {
  .user-name,
  .user-surname,
  .user-phone {
    padding-right: 12px !important;
    font-size: 15px !important;
  }
}

@media (max-width: 660px) {
  .buttons {
    flex-direction: column;
    margin-right: 8px;
  }

  .btn-update {
    margin: 0 !important;
  }

  .btn-delete {
    padding: 10px 15px !important;
    margin-top: 8px;
  }

  .circle {
    width: 40px !important;
    height: 40px !important;
  }

  .user-surname {
    margin: 0 10px !important;
  }
}

@media (max-width: 576px) {
  .theme {
    font-size: 30px;
  }

  .user-surname {
    margin: 0 !important;
  }

  .btn-item {
    margin: 0 !important;
  }
}

@media (max-width: 540px) {
  .btn-delete {
    padding: 10px !important;
  }

  .user {
    flex-direction: column !important;
    align-items: flex-start !important;
    margin-left: 20px;
  }

  .user-surname {
    margin: 5px 0 !important;
  }

  .buttons {
    flex-direction: row !important;
  }

  .btn-delete {
    margin: 0 !important;
  }

  .btn-update {
    margin-right: 10px !important;
  }
}

@media (max-width: 470px) {
  .user {
    margin: 0 !important;
  }

  .circle {
    width: 30px !important;
    height: 30px !important;
  }
}

@media (max-width: 414px) {
  .circle {
    margin-right: 6px !important;
  }

  .btn-update,
  .btn-delete {
    padding: 10px 5px !important;
    font-size: 12px;
  }
  .user-name,
  .user-surname,
  .user-phone {
    font-size: 14px !important;
  }

  .user {
    margin-left: 5px !important;
  }
  .btn-item {
    padding: 0 10px !important;
  }
}

@media (max-width: 375px) {
  .buttons {
    flex-direction: column !important;
    margin-right: 8px;
  }
  .btn-update {
    margin: 0 0 8px 0 !important;
  }

  .btn-delete {
    margin: 0 0 8px 0 !important;
  }
}
