.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.4);

  &__item {
    max-width: 100%;
    width: 560px;
    transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
    transform: scale(1);
    position: relative;

    &__icon {
      position: absolute;
      top: 5px;
      right: -5px;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      color: white;
      cursor: pointer;
    }
  }
}

.modal-note {
  display: none;
}
