* {
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

a, a:hover {
    text-decoration: none;
}

li, ul,ol{
    list-style: none;
}

button {
    border: none;
}

body{
    background: #eff395;
}

input{
    outline: none;
    border: none;
}

